include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft dashboard_app
global-exclude *.orig *.pyc *.log *.swp
prune dashboard_app/tests/coverage
prune dashboard_app/.ropeproject
